version: '3.8'
services:
  redis:
    image: redis:latest
    container_name: redis_app
    restart: always
    ports:
      - "6379:6379"
    networks:
      hotel_project:
        aliases:
          - redis
    volumes:
      - redis_data:/data
    command: redis-server --loglevel warning

volumes:
  redis_data:

networks:
  hotel_project:
    external: true