services:
  yarp:
    image: yarp
    ports:
      - 4000:8080
    environment:
      - ReverseProxy__Clusters__cluster-user__Destinations__dest1__Address=http://userservice-userservice.api-1:8080
      - ReverseProxy__Clusters__cluster-hotel__Destinations__dest1__Address=http://hotelservice-hotelservice.api-1:8080
    networks:
      - hotel_project
    build:
      context: .
      dockerfile: Dockerfile

networks:
  hotel_project:
    external: true
    